*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #444;
  padding: 0 1rem;
}

body {
  font-family: sans-serif;
}

.message {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

footer {
  display: flex;
  justify-content: center;
}

footer p {
  font-size: 1.8rem;
}
